<div class="h-screen w-screen overflow-hidden">
    <div class="flex flex-row h-screen p-4 x-screen">
        <app-menu></app-menu>
        <div class="w-3"></div>
        <div class="flex-grow max-w-full h-14 bg-purple-950 rounded-lg flex flex-col">
            <!-- Header -->
            <div class="flex bg-secondary p-4 rounded-lg">
                <input type="text" placeholder="Buscar modelo ..." class="flex-grow border rounded-lg p-2 mr-2 w-5  ">
                
            </div>

            <div class="h-3"></div>

            <!-- Body -->
            <div class="flex bg-primary pl-10 pr-10 pt-4 pb-4 rounded-lg mt-3 justify-between items-center">
                <span class="text-white font-bold text-sm">Nome</span>
                <span class="text-white font-bold text-sm">Categoria</span>
                <span class="text-white font-bold text-sm">Status</span>
                <span class="text-white font-bold text-sm text-centerx">Mesagens<br>Entregues</span>
                <span class="text-white font-bold text-sm text-center">Última<br>Atualização</span>
            </div>
            <div class="space-y-3 m-3">
                <div class=" rounded-lg p-3 bg-secondary">
                    <div class="flex justify-between items-center">
                        <span class="text-black font-semibold text-sm">Modelo A</span>
                        <div class="bg-red-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Tag</span>
                        </div>
                        <div class="bg-green-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Aberto</span>
                        </div>
                        <span class="text-black font-semibold text-sm">321</span>
                        <span class="text-black font-semibold text-sm">03/02/2024</span>
                    </div>
                    
                </div>
                <div class=" rounded-lg p-3 bg-white">
                    <div class="flex justify-between items-center">
                        <span class="text-black font-semibold text-sm">Modelo A</span>
                        <div class="bg-red-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Tag</span>
                        </div>
                        <div class="bg-green-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Aberto</span>
                        </div>
                        <span class="text-black font-semibold text-sm">321</span>
                        <span class="text-black font-semibold text-sm">03/02/2024</span>
                    </div>
                </div>
                <div class=" rounded-lg  p-3 bg-secondary">
                    <div class="flex justify-between items-center">
                        <span class="text-black font-semibold text-sm">Modelo A</span>
                        <div class="bg-red-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Tag</span>
                        </div>
                        <div class="bg-green-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Aberto</span>
                        </div>
                        <span class="text-black font-semibold text-sm">321</span>
                        <span class="text-black font-semibold text-sm">03/02/2024</span>
                    </div>
                    
                </div>
                <div class=" rounded-lg  p-3 bg-white">
                    <div class="flex justify-between items-center">
                        <span class="text-black font-semibold text-sm">Modelo A</span>
                        <div class="bg-red-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Tag</span>
                        </div>
                        <div class="bg-green-700 pl-10 pr-10 pt-1 pb-1 rounded-lg">
                            <span class="text-white font-semibold text-sm">Aberto</span>
                        </div>
                        <span class="text-black font-semibold text-sm">321</span>
                        <span class="text-black font-semibold text-sm">03/02/2024</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
