<div class="h-screen w-screen overflow-hidden">
    <div class="flex flex-row h-screen p-4 x-screen">
        <div class="space-y-3 w-20 bg-secondary rounded-lg flex flex-col justify-center items-center md:justify-start">
            <div class="w-12 h-12 p-3 mt-3 bg-secondary rounded-lg flex justify-center items-center">
                <img src="/assets/image/icon/menu.svg" />
            </div>
            <div class="w-12 h-12 p-3 bg-primary rounded-lg flex justify-center items-center">
                <img src="/assets/image/icon/contacts.svg" />
            </div>
            <!-- 
            <div class="w-12 h-12 p-3 bg-white rounded-lg flex justify-center items-center">
                <img src="/assets/image/icon/campaign.svg" />
            </div>
            <div class="w-12 h-12 p-3 bg-white rounded-lg flex justify-center items-center">
                <img src="/assets/image/icon/statistics.svg" />
            </div> 
            -->
        </div>
        
        <div class="w-3"></div>
        <div class="w-[350px] p-3 bg-secondary rounded-lg flex flex-col justify-center md:justify-start">
            <input type="text" placeholder="Buscar" class="w-full p-2 rounded-md border border-gray-300" />
            <div class="h-3"></div>
            <div class="flex space-x-3 justify-center">
                <button class="bg-white text-black py-2 px-4 rounded-md text-xs" (click)="allMessagingProducts()">Lidas</button>
                <button class="bg-white text-black py-2 px-4 rounded-md text-xs">Não lidas</button>
            </div>
            <div class="h-3"></div>
            <div class="space-y-3">
                <div class="w-full h-20 bg-white rounded-md p-3 flex items-center space-x-3" *ngFor="let product of messagingProducts" >
                    <!-- Imagem Circular do Cliente -->
                    <div class="w-12 h-12 bg-primary rounded-full flex items-center justify-center">
                        <!-- Ícone ou inicial do cliente (opcional) -->
                        <span class="text-white font-bold text-lg">A</span>
                    </div>
                    
                    <!-- Conjunto de Texto -->
                    <div class="flex flex-col justify-center flex-grow">
                        <div class="flex justify-between">
                            <!-- Número do Cliente -->
                            <p class="font-bold text-sm">{{product.name}}</p>
                            <!-- Horário da Última Resposta -->
                            <p class="text-gray-600 text-sm">{{ product.updated_at }}</p>
                        </div>

                        <!-- Última Mensagem do Cliente -->
                        <p class="text-gray-600 text-sm">Última mensagem do aluno...</p>
                    </div>
                </div>
                <div class="w-full h-20 bg-white rounded-md p-3 flex items-center space-x-3">
                    <!-- Imagem Circular do Cliente -->
                    <div class="w-12 h-12 bg-primary rounded-full flex items-center justify-center">
                        <!-- Ícone ou inicial do cliente (opcional) -->
                        <span class="text-white font-bold text-lg">A</span>
                    </div>
                    
                    <!-- Conjunto de Texto -->
                    <div class="flex flex-col justify-center flex-grow">
                        <div class="flex justify-between">
                            <!-- Número do Cliente -->
                            <p class="font-bold text-sm">+55 11 99999-9999</p>
                            <!-- Horário da Última Resposta -->
                            <p class="text-gray-600 text-sm">12:45 PM</p>
                        </div>

                        <!-- Última Mensagem do Cliente -->
                        <p class="text-gray-600 text-sm">Última mensagem do aluno...</p>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="w-3"></div>
        <div class="flex-grow max-w-full bg-white rounded-lg flex flex-col">
            <!-- Header -->
            <div class="flex bg-secondary p-4 rounded-t-lg">
                <div class="w-12 h-12 bg-primary rounded-full flex items-center justify-center">
                    <!-- Ícone ou inicial do cliente (opcional) -->
                    <span class="text-white font-bold text-lg">A</span>
                </div>
            </div>
            <!-- Imagem Circular do Cliente -->
                    
        
            <!-- Área de Mensagens -->
            <div class="flex-1 p-4 overflow-y-auto">
                <div class="space-y-3">
                    <!-- Mensagem do Cliente -->
                    <div class="flex justify-start">
                        <div class="flex flex-col bg-secondary text-black p-3 rounded-lg max-w-xs">
                            <p>Olá, preciso de ajuda com meu pedido.</p>
                            <p class="text-xs text-right text-gray-500">12:45</p>
                        </div>
                    </div>
        
                    <!-- Mensagem do Suporte -->
                    <div class="flex justify-end">
                        <div class="flex flex-col bg-primary text-white p-3 rounded-lg max-w-xs">
                            <p>Claro! Como posso ajudar?</p>
                            <p class="text-xs text-right text-gray-500">12:46</p>
                        </div>
                    </div>
        
                    <!-- Mensagem do Cliente -->
                    <div class="flex justify-start">
                        <div class="flex flex-col bg-secondary text-black p-3 rounded-lg max-w-xs">
                            <p>Eu gostaria de saber o status do meu pedido.</p>
                            <p class="text-xs text-right text-gray-500">12:47</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Footer -->
            <div class="bg-secondary p-4 border-t border-gray-300 flex items-center rounded-b-lg">
                <input type="text" placeholder="Digite sua mensagem..." class="flex-grow border rounded-lg p-2 mr-2">
                <button class="bg-white text-black py-2 px-4 rounded-lg ">Enviar</button>
            </div>
        </div>
        
    </div>
</div>
