<div class="h-screen w-screen overflow-hidden">
  <div class="flex flex-row h-screen p-4 x-screen">
    <app-menu></app-menu>
    <div class="w-3"></div>
    <div
      class="w-[350px] p-3 bg-secondary rounded-lg flex flex-col justify-center md:justify-start"
    >
      <input
        type="text"
        placeholder="Buscar"
        class="w-full p-2 rounded-md border border-gray-300"
      />
      <!-- <div class="h-3"></div>
            <div class="flex space-x-3 justify-center">
                <button class="bg-white text-black py-2 px-4 rounded-md text-xs" (click)="getConversations()">Lidas</button>
                <button class="bg-white text-black py-2 px-4 rounded-md text-xs">Não lidas</button>
            </div> -->
      <div class="h-3"></div>
      <div class="space-y-3 overflow-y-auto overflow-x-hidden pr-2">
        <div
          class="w-full h-20 bg-white rounded-md p-3 flex items-center space-x-3 "
          *ngFor="let conversation of conversations"
          (click)="getConversationHistory(conversation)"
        >
          <div
            class="w-12 h-12 bg-primary rounded-full flex items-center justify-center shrink-0"
          >
            <span class="text-white font-bold text-lg">
              {{
                conversation.from?.contact?.name 
                  ? conversation.from.contact.name.charAt(0).toUpperCase() 
                  : 'X'
              }}
            </span>
          </div>

          <!-- Conjunto de Texto -->
          <div class="flex flex-col justify-between flex-grow min-w-0">
            <div class="flex justify-between items-center">
              <!-- Número do Cliente -->
              <p class="font-bold text-sm mr-4 truncate">
                {{
                  conversation.from?.contact?.name ||
                  conversation.from?.product_details?.phone_number || 
                  "Número indisponível"
                }}
              </p>
              <!-- Horário da Última Resposta -->
              <p class="text-gray-600 text-sm line-clamp-1">
                {{ formatDate(conversation.updated_at) }}
              </p>
            </div>

            <!-- Última Mensagem do Cliente -->
            <p
              class="text-gray-600 text-sm line-clamp-1 truncate"
              title="{{
                conversation.sender_data?.text?.body ||
                  conversation.product_data?.text?.body ||
                  'Mensagem não disponível'
              }}"
            >
              {{
                conversation.sender_data?.text?.body ||
                  conversation.product_data?.text?.body ||
                  "Mensagem não disponível"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3"></div>
    <div *ngIf="!currentConversation" class="flex-grow flex flex-col items-center justify-center p-6 bg-secondary text-gray-700 rounded-md shadow-lg">
      <h2 class="text-3xl font-bold mb-4">Bem-vindo ao EsquiloHub!</h2>
      <p class="text-center text-lg mb-4">Nosso sistema é projetado para transformar a gestão de campanhas com tecnologia de ponta e uma interface amigável.</p>
      <p class="text-center text-lg font-semibold">Selecione uma conversa para visualizar as mensagens e gerenciar suas interações.</p>
    </div>

    <div *ngIf="currentConversation" class="flex-grow max-w-full bg-white rounded-lg flex flex-col">
      <!-- Header -->
      <div class="flex bg-secondary p-4 rounded-t-lg items-center">
        <div
          class="w-12 h-12 bg-primary rounded-full flex items-center justify-center"
        >
          <!-- Ícone ou inicial do cliente (opcional) -->
          <span class="text-white font-bold text-lg">
            {{
              currentConversation.from?.contact?.name 
                ? currentConversation.from.contact.name.charAt(0).toUpperCase() 
                : 'X'
            }}
          </span>
        </div>
        <div *ngIf="currentConversation.from?.contact?.name" class="text-gray-800 font-semibold ml-2">
          {{ currentConversation.from.contact.name }}
        </div>
      </div>

      <!-- Área de Mensagens -->
      <div class="flex-1 p-4 overflow-y-auto">
        <div class="space-y-3">
          <div *ngFor="let message of conversationHistory">
            <!-- Mensagem do Suporte -->
            <div
              *ngIf="message.from_id === '00000000-0000-0000-0000-000000000000'"
              class="flex justify-end"
            >
              <div
                class="flex flex-col bg-primary text-white p-3 rounded-lg max-w-xs"
              >
                <p>{{ message.sender_data?.text?.body }}</p>
                <p class="text-xs text-right text-gray-500">
                  {{ message.created_at | date: "HH:mm" }}
                </p>
              </div>
            </div>
            <!-- Mensagem do Cliente -->
            <div
              *ngIf="message.to_id === '00000000-0000-0000-0000-000000000000'"
              class="flex justify-start"
            >
              <div
                class="flex flex-col bg-secondary text-black p-3 rounded-lg max-w-xs"
              >
                <p>{{ message.product_data?.text?.body }}</p>
                <p class="text-xs text-right text-gray-500">
                  {{ message.created_at | date: "HH:mm" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div
        class="bg-secondary p-4 border-t border-gray-300 flex items-center rounded-b-lg"
      >
      <textarea
        placeholder="Digite sua mensagem..."
        (keyup.enter)="sendMessage(messageInput.value)"
        class="flex-grow border rounded-lg p-2 mr-2 resize-y"
        #messageInput
        rows="1"  
      ></textarea>
    
        <button
          class="bg-white text-black py-2 px-4 rounded-lg"
          (click)="sendMessage(messageInput.value)"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
