<div class="h-screen w-screen overflow-hidden">
  <div class="flex flex-row h-screen p-4 x-screen">
    <app-menu></app-menu>
    <div class="w-3"></div>
    <div
      class="w-[350px] p-3 bg-secondary rounded-lg flex flex-col justify-center md:justify-start"
    >
      <input
        type="text"
        placeholder="Buscar"
        class="w-full p-2 rounded-md border border-gray-300"
      />
      <!-- <div class="h-3"></div>
            <div class="flex space-x-3 justify-center">
                <button class="bg-white text-black py-2 px-4 rounded-md text-xs" (click)="getConversations()">Lidas</button>
                <button class="bg-white text-black py-2 px-4 rounded-md text-xs">Não lidas</button>
            </div> -->
      <div class="h-3"></div>
      <div class="space-y-3">
        <div
          class="w-full h-20 bg-white rounded-md p-3 flex items-center space-x-3"
          *ngFor="let conversation of conversations"
          (click)="getConversationHistory(conversation)"
        >
          <!-- Imagem Circular do Cliente -->
          <div
            class="w-12 h-12 bg-primary rounded-full flex items-center justify-center shrink-0"
          >
            <!-- Ícone ou inicial do cliente (opcional) -->
            <span class="text-white font-bold text-lg">A</span>
          </div>

          <!-- Conjunto de Texto -->
          <div class="flex flex-col justify-between flex-grow">
            <div class="flex justify-between items-center">
              <!-- Número do Cliente -->
              <p class="font-bold text-sm mr-4">
                {{
                  conversation.sender_data?.to ||
                    conversation.product_data?.from ||
                    "Número não disponível"
                }}
              </p>
              <!-- Horário da Última Resposta -->
              <p class="text-gray-600 text-sm line-clamp-1">
                {{ formatDate(conversation.updated_at) }}
              </p>
            </div>

            <!-- Última Mensagem do Cliente -->
            <p
              class="text-gray-600 text-sm line-clamp-1"
              title="{{
                conversation.sender_data?.text?.body ||
                  conversation.product_data?.text?.body ||
                  'Mensagem não disponível'
              }}"
            >
              {{
                conversation.sender_data?.text?.body ||
                  conversation.product_data?.text?.body ||
                  "Mensagem não disponível"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3"></div>
    <div class="flex-grow max-w-full bg-white rounded-lg flex flex-col">
      <!-- Header -->
      <div class="flex bg-secondary p-4 rounded-t-lg">
        <div
          class="w-12 h-12 bg-primary rounded-full flex items-center justify-center"
        >
          <!-- Ícone ou inicial do cliente (opcional) -->
          <span class="text-white font-bold text-lg">A</span>
        </div>
      </div>
      <!-- Imagem Circular do Cliente -->

      <!-- Área de Mensagens -->
      <div class="flex-1 p-4 overflow-y-auto">
        <div class="space-y-3">
          <!-- Iterar sobre a conversationHistory -->
          <div *ngFor="let message of conversationHistory">
            <!-- Debugging
                    <p *ngIf="message.from_id">From ID: {{ message.from_id }}</p>
                    <p *ngIf="message.to_id">To ID: {{ message.to_id }}</p>
                    <p *ngIf="message.product_data?.text?.body">Message Body: {{ message.product_data?.text?.body }}</p> -->

            <!-- Mensagem do Suporte -->
            <div
              *ngIf="message.from_id === '00000000-0000-0000-0000-000000000000'"
              class="flex justify-end"
            >
              <div
                class="flex flex-col bg-primary text-white p-3 rounded-lg max-w-xs"
              >
                <p>{{ message.sender_data?.text?.body }}</p>
                <p class="text-xs text-right text-gray-500">
                  {{ message.created_at | date: "HH:mm" }}
                </p>
              </div>
            </div>

            <!-- Mensagem do Cliente -->
            <div
              *ngIf="message.to_id === '00000000-0000-0000-0000-000000000000'"
              class="flex justify-start"
            >
              <div
                class="flex flex-col bg-secondary text-black p-3 rounded-lg max-w-xs"
              >
                <p>{{ message.product_data?.text?.body }}</p>
                <p class="text-xs text-right text-gray-500">
                  {{ message.created_at | date: "HH:mm" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div
        class="bg-secondary p-4 border-t border-gray-300 flex items-center rounded-b-lg"
      >
        <input
          type="text"
          placeholder="Digite sua mensagem..."
          (keyup.enter)="sendMessage(messageInput.value)"
          class="flex-grow border rounded-lg p-2 mr-2"
          #messageInput
        />
        <button
          class="bg-white text-black py-2 px-4 rounded-lg"
          (click)="sendMessage(messageInput.value)"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
